.App {
  text-align: center;
  height: 100vh;
  background-color: rgb(244, 244, 244);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#main-search-button::before {
  content: "";
  display: block;
  height: 25px;
  border-left: 1px solid #e6e6e6;
  position: absolute;
  top: 12px;
}

@media ( max-width: 1210px ) {
  .searchbar-wrapper{
    margin: unset !important;
  }
}

ul{
  padding: unset;
  margin: unset;
}

ul.breadcrumb {
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  cursor: pointer;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: ">\00a0";
  font-size: 15px;
}

ul.breadcrumb a {
  text-decoration: none;
  color: #3483fa;
  font-size: 15px;
}

.item-details-header > div > p{
  margin: unset !important;
} 